*{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    justify-content: flex-end;
    background-color: #f5f5f5be;
    color: #333;
    line-height: 1.6;
    padding:20px
}
header{
    text-align:center;
    padding: 20px;
    background-color: white;
}
nav{
    background-color: #1d1bac;
    padding: 10px;

}
nav ol{
    display: flex;
}
nav ol li a{
    text-decoration: none;
color: white;
}